extends ./main 
block content 
    div.container
        table.table.table-bordered.form-align-top
            thead 
                tr 
                    th nome 
                    th cpf 
                    th Telefone 
                    th E-mail 
                    th Contato 
                    th Ações 
            tbody 
                tr 
                    td Client1 
                    td 912093801293802
                    td (14)991206801
                    td julio@gmail.com
                    td Contato mãe 
                    td 
                        button.btn.btn-success(type="button") Editar
                        button.btn.btn-danger(type="button") Deletar
                tr 
                    td Client2 
                    td 912093801293802
                    td (14)991206801
                    td julio@gmail.com
                    td Contato mãe 
                    td 
                        button.btn.btn-success(type="button") Editar
                        button.btn.btn-danger(type="button") Deletar
                tr 
                    td Client3 
                    td 912093801293802
                    td (14)991206801
                    td julio@gmail.com
                    td Contato mãe 
                    td 
                        button.btn.btn-success(type="button") Editar
                        button.btn.btn-danger(type="button") Deletar